<!doctype html>
<html ng-app="hgtApp">
<head>
    <title>Heavy Garbage Tinder</title>
     <!-- load bootstrap css -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.css">
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/angularjs-toaster/0.4.9/toaster.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-material-design/0.2.1/css/material.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-material-design/0.2.1/css/ripples.css" /> 
    <!-- load fontawesome css -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> 
    <!-- load angular material min css -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/angular-material/1.0.2/angular-material.min.css">
    <!-- load local css -->
    <link rel="stylesheet" href="/assets/css/style.css">
    <!-- load jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0-rc.0/angular.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>    
</head>
<body>
  <div class="container" ng-controller='browseController'>
    <%- include nav.ejs %>
  </div>
  <div class="container browseContainer">
    <div class="row postContainer">
      <h1>Browse</h1>
    </div>
    s
    <div class="row">
      <div class="container" ng-init="loadPosts()">
        <div class="col-md-3 browseItem" ng-repeat="post in posts">
           <img class="browseImage" src="https://i.vimeocdn.com/portrait/58832_300x300.jpg"></img>
           <div class="row border">
              <span class="glyphicon glyphicon-tags"></span>
              {{post.hashtag}}
           </div>
           <div class="row border">
              {{post.title}}
           </div>
           <div class="row border">
              {{post.address}}
           </div>
        </div>
      </div>
    </div>

  </div>
  <script src="../assets/scripts/app.js"></script>
  <script src="../assets/scripts/controllers/browseController.js"></script>
  <script src="../assets/scripts/controllers/navController.js"></script>
  <%- include logModal.ejs %>
  <%- include signModal.ejs %>
</body>
</html>

<!--
    <div class="container postContainer">
    <h1>Browse</h1>
    <div class="row">
      <div class="container">
        <div class="row">
          <div class="container postBrowseContainer" ng-init="loadPosts()">
            <div ng-repeat="post in posts">
              <div class="panel panel-success">
                <div class="panel-heading browsePostTitle">
                  <strong>TITLE:</strong> {{post.title}}
                </div>
                <div class="panel-body">
                  <span class="glyphicon glyphicon-tags"></span> 
                  <strong>Tags:</strong> {{post.hashtag}}
                </div>
                <div class="panel-body">
                  <strong>Address:</strong> {{post.address}}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  -->