
<div class="modal fade" tabindex="-1" role="dialog" data-toggle="modal" data-target="#myModal" id="register">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <center>
                            <h4 class="modal-title">Register with an Email</h4>
                        </center>
                        </div>
                        <div class="modal-body">
                            <div class="row">
                                <div class="col-md-12">
                                    <form action="/signup" method="post">
                                        
                                        </div>

                                        <div class="row">
                                            <div class="col-md-10 col-md-offset-1">
                                                <div class="form-group">
                                                    <input type="email" class="form-control" id="exampleInputEmail2" name="email" placeholder="  Email">
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-md-10 col-md-offset-1">
                                                <div class="form-group">
                                                    <input type="password" class="form-control" id="exampleInputName2" name="password" placeholder="Password">
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <center>
                                                <button type="submit" class="btn btn-primary btn-lg btn-block" id="signInButton">Signup</button>
                                            </center>
                                    </form>
                                </div>
                            </div>
                        </div>
                        
                    </div><!-- /.modal-content -->
                </div><!-- /.modal-dialog -->
            </div><!-- /.modal -->


